<div class="container-fluid py-4">
  <div class="row mb-3">
      <app-breadcrumb [items]="breadCrumbItems"></app-breadcrumb>
    </div>
  <div class="row mb-3">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="dashboard-title">
        <h1>Dashboard</h1>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end align-items-center">
        <div class="btn-section">
        <button
        type="button"
        class="btn btn-primary user-list-btn"
        *ngIf="userObject && userObject.role === 'admin'"
        [routerLink]="['/users-list']"
      >
        <i class="bi bi-person-lines-fill"></i>
        Users List
      </button>
        <button
          *ngIf="userObject && userObject.role === 'admin'"
          class="btn btn-primary invite-btn"
          data-bs-toggle="modal"
          data-bs-target="#inviteUserModal"
        >
          <i class="bi bi-person-plus me-1"></i> Invite People
        </button>
        <button
          type="button"
          class="btn btn-primary create-project-btn"
          data-bs-toggle="modal"
          data-bs-target="#projectModal"
          *ngIf="userObject && userObject.role === 'admin'"
        >
          <i class="bi bi-plus-circle me-1"></i>
          Create Project
        </button>
      </div>
      </div>
  </div>

  <div class="project-section my-4">

  <div class="container project-sub-section">
   @if (projects.length > 0) {
    <div class="row mb-3">
      <h5 class="total-project-number">Total Projects : {{totalProjects}}</h5>
    </div>
  }
  <div class="row mb-3 search-section">
    <div class="col-md-6 mb-2">
      <input
        type="text"
        [(ngModel)]="search"
        (input)="onSearchChange()"
        class="form-control w-100"
        placeholder="Search by project name..."
      />
    </div>
    <div class="col-md-2 filter-section">
      <select
        class="form-select w-100"
        [(ngModel)]="selectedStatus"
        (change)="onStatusFilterChange()"
      >
        <option value="">All Statuses</option>
        <option *ngFor="let status of statusOptions" [value]="status.value">
          {{ status.label }}
        </option>
      </select>
    </div>

    <div class="col-md-2 mb-2 sort-section">
    <select class="form-select" [(ngModel)]="sortBy" (change)="onSortChange()">
      <option value="createdAt">Created At</option>
      <option value="startDate">Start Date</option>
      <option value="endDate">End Date</option>
    </select>
  </div>

  <div class="col-md-2">
    <select class="form-select" [(ngModel)]="sortOrder" (change)="onSortChange()">
      <option value="desc">Descending</option>
      <option value="asc">Ascending</option>
    </select>
  </div>
  </div>

  <div class="row">
    <div class="d-flex flex-column align-items-center gap-3">
    @if (projects.length > 0) {
      @for (project of projects; track project._id) {
        <div class="project-card shadow-sm p-4 rounded w-100" >
          <div class="d-flex justify-content-between flex-wrap">
            <div class="left-section pe-3">
              <h5 class="fw-bold mb-2 text-primary">{{ project.name }}</h5>

              <div class="mb-2">
                <span class="custom-badge">{{ project.status }}</span>
              </div>

              <p class="text-muted small mb-0">
                <i class="bi bi-info-circle me-2 text-primary"></i>
                {{ project.description || 'No description available.' }}
              </p>
            </div>

            <div class="right-section text-end mt-3 mt-md-0">
              <div class="text-muted small mb-1">
                <i class="bi bi-calendar-event me-1 text-secondary"></i>
                <strong>Start:</strong> {{ project.startDate | date: 'mediumDate' }}
              </div>
              <div class="text-muted small mb-3">
                <i class="bi bi-calendar-check me-1 text-secondary"></i>
                <strong>End:</strong> {{ project.endDate | date: 'mediumDate' }}
              </div>

              <button class="btn btn-view-project" [routerLink]="['/project', project._id]">
                <i class="bi bi-eye me-1"></i> View
              </button>
            </div>
          </div>
        </div>
        <div>
        </div>
      }
    } @else {
      <div class="text-center py-5">
        <h4 class="highlight-animation">No Projects Found</h4>
      </div>
    }
  </div>
  </div>
  <div class="row justify-content-center">
    <div class="mt-3" *ngIf="totalPages > 10">
      <p-paginator
        [first]="(currentPage - 1) * limit"
        [rows]="limit"
        [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)">
      </p-paginator>
    </div>
  </div>
  </div>
</div>


</div>

<!-- Invite User Modal -->
<div class="modal fade" id="inviteUserModal" tabindex="-1" aria-labelledby="inviteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="inviteForm" (ngSubmit)="inviteUser()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inviteUserModalLabel">Invite User</h5>
          <button type="button" #inviteClose class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <label class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" placeholder="Enter email" />
          <div *ngIf="inviteForm.get('email')?.invalid && inviteForm.get('email')?.touched" class="text-danger">
            Valid email is required.
          </div>
          <div class="row">
            <small style="margin-top: 16px;"><strong>note* :</strong> Please enter the email address to send an invitation email to add people under your oranization.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
          <button class="btn btn-primary" type="submit" [disabled]="inviteForm.invalid">Invite</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--create project form Modal -->
<div
  class="modal fade"
  id="projectModal"
  tabindex="-1"
  aria-labelledby="projectModalLabel"
  aria-hidden="true"
  #projectModal
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="projectForm" (ngSubmit)="submitProjectForm()">
        <div class="modal-header">
          <h5 class="modal-title" id="projectModalLabel">Create Project</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            #closeBtn
          ></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Project Name <span class="text-danger">*</span></label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Enter project name"
            />
            <div
              *ngIf="projectForm.get('name')?.invalid && projectForm.get('name')?.touched" class="text-danger mt-1">
              Project name is required.
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Description<span class="text-danger">*</span></label>
            <textarea
              formControlName="description"
              class="form-control"
              placeholder="Enter description"
              rows="3"
            ></textarea>
            <div
              *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched" class="text-danger mt-1">
              Description is required.
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label d-block mb-1">Start Date<span class="text-danger">*</span></label>
              <p-calendar
                formControlName="startDate"
                [showIcon]="true"
                inputId="startDate"
                [showOnFocus]="false"
                [minDate]="minDate"
                dateFormat="dd-mm-yy"
                styleClass="w-100"
              ></p-calendar>
              <div
              *ngIf="projectForm.get('startDate')?.invalid && projectForm.get('startDate')?.touched" class="text-danger mt-1">
                Start Date is required.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label d-block mb-1">End Date<span class="text-danger">*</span></label>
              <p-calendar
                formControlName="endDate"
                [showIcon]="true"
                inputId="endDate"
                [showOnFocus]="false"
                [minDate]="minDate"
                dateFormat="dd-mm-yy"
                styleClass="w-100"
              ></p-calendar>
              <div
              *ngIf="projectForm.get('endDate')?.invalid && projectForm.get('endDate')?.touched" class="text-danger mt-1">
                End Date is required.
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="projectForm.invalid"
          >
            Create Project
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
