<div class="register-wrapper">
  <div class="container">
    <div class="row mb-3">
      <app-breadcrumb [items]="breadCrumbItems"></app-breadcrumb>
    </div>
    <div class="row justify-content-center mb-4">
      <div class="col-md-10 text-center">
        <h2 class="fw-bold main-text-color">Change Password</h2>
        <p class="main-text-color">Complete the form below to change your password.</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="register-card">

          <div class="mb-4">

            <div class="row g-3 mt-3">
              <div class="col-md-12">
                <label for="email" class="form-label text-light">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': isInvalid('email')}"/>
                <div *ngIf="isInvalid('email', 'required')" class="invalid-feedback">Email is required</div>
                <div *ngIf="isInvalid('email', 'email')" class="invalid-feedback">Enter a valid email</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="currentPassword" class="form-label text-light">Current Password</label>
              <input type="text" id="currentPassword" formControlName="currentPassword" class="form-control" [ngClass]="{'is-invalid': isInvalid('currentPassword')}"/>
              <div *ngIf="isInvalid('currentPassword', 'required')" class="invalid-feedback">Current password is required</div>
            </div>
          </div>
          <div class="mb-4 mt-5">
            <div class="mb-3">
              <label for="password" class="form-label text-light">New Password</label>
              <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': isInvalid('password')}"/>
              <div *ngIf="isInvalid('password', 'required')" class="invalid-feedback">Password is required</div>
              <small [ngClass]="{
                'text-danger': isInvalid('password', 'minlength') && passwordControl?.dirty,
                'text-success': isPasswordValid('password', 'minlength') && passwordControl?.dirty
              }" class="d-block mt-1">Must be at least 6 characters</small>
              <small [ngClass]="{
                'text-danger': isInvalid('password', 'weakPassword') && passwordControl?.dirty,
                'text-success': isPasswordValid('password', 'weakPassword') && passwordControl?.dirty
              }" class="d-block">Include uppercase, lowercase, number, and symbol (&#64;, #, $, *)</small>
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label text-light">Confirm Password</label>
              <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                     [ngClass]="{
                       'is-invalid': isInvalid('confirmPassword') || 
                                     (changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched)
                     }"/>
              <div *ngIf="isInvalid('confirmPassword', 'required')" class="invalid-feedback">Confirm Password is required</div>
              <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched" class="invalid-feedback">
                Passwords do not match
              </div>
            </div>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-light btn-lg text-dark" [disabled]="changePasswordForm.invalid">
              <i class="bi bi-person-plus me-2"></i> Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
