.register-wrapper {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  font-family: 'Baloo 2', sans-serif;
}

.register-card {
  position: relative;
  background-color: #584ecb;
  border: 1px solid rgb(255, 255, 255, 0.25);
  border-radius: 1.5rem;
  padding: 3rem;
  box-shadow: 0 8px 32px rgb(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 1;
  color: #e5e7eb;
}


.resend a {
  cursor: pointer;
  float: right;
  text-decoration: underline;
}

input.form-control:focus {
  box-shadow: none;
  border-color: #198754;
}

.invalid-feedback-text {
  color: rgb(162, 22, 22);
}

.feedback-text-success {
  color: #055932;
}

.submit-btn {
  color: #584ecb;
  background-color: #ffffff;
  font-weight: 600;
}

@media (max-width: 768px) {
  .register-card {
    padding: 2rem;
  }
}
